---
# tasks file for role-docker

- name: Include Docker installation tasks
  ansible.builtin.include_tasks: tasks/install/{{ ansible_os_family }}.yml

- name: Verify Docker installation
  ansible.builtin.include_tasks: tasks/verify.yml
