---
# tasks file for role-docker

- name: Include Docker installation tasks
  ansible.builtin.include_tasks: "install_{{ ansible_os_family | lower }}.yml"

- name: Add users to docker group
  ansible.builtin.user:
    name: "{{ item }}"
    groups: docker
    append: yes
  loop: "{{ docker_users }}"
  when: docker_users is defined

- name: Configure Docker systemd service
  ansible.builtin.template:
    src: docker.service.j2
    dest: /usr/lib/systemd/system/docker.service
    owner: root
    group: root
    mode: '0644'
  notify:
    - restart docker

- name: Verify Docker installation
  ansible.builtin.include_tasks: tasks/verify.yml
