---
# tasks file for role-docker

- name: Check Supported OS
  import_tasks: os-check.yml

- name: Set Facts Based on Distro
  import_tasks: os-vars.yml

- name: Install Package Manager
  import_tasks: os-package.yml

- name: Configure Docker
  import_tasks: configure-docker.yml
