---

- name: Install yum-config manager
  yum:
    name: yum-utils
    state: present
  when:
   - ansible_architecture in ['x86_64']
   - ansible_distribution in ['CentOS', 'RedHat']
   - ansible_distribution_major_version in ['7']

- name: Install yum-utils and dnf package manager
  yum:
    name:
      - yum-utils
      - dnf
    state: present
  when:
   - ansible_architecture in ['x86_64']
   - ansible_distribution in ['CentOS', 'RedHat', 'AlmaLinux']
   - ansible_distribution_major_version in ['8']
